* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  padding: 15px;
}

/* ====================================================
=============== PROGRESS COMPONENT =================
==================================================== */

.progress-container {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.step-container {
  display: flex;
}

.step-number {
  padding: 10px;
  border: 1px solid black;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.step-number-active {
  padding: 10px;
  border: 1px solid rgb(100, 100, 100);
  background-color: #2196f3;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  justify-self: center;
  align-self: center;
  text-align: center;
}

/* ================================================
============ PLAN COMPONENT ====================
================================================ */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
