@font-face {
  font-family: "Ubuntu";
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

:root {
  --MarineBlue: hsl(213, 96%, 18%);
  --PurplishBlue: hsl(243, 100%, 62%);
  --PastelBlue: hsl(228, 100%, 84%);
  --LightBlue: hsl(206, 94%, 87%);
  --StrawberryRed: hsl(354, 84%, 57%);

  --CoolGray: hsl(231, 11%, 63%);
  --LightGray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Ubuntu";
  height: 100vh;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  padding: 15px;
}

/* ====================================================
=============== PROGRESS COMPONENT =================
==================================================== */

.progress-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: initial;
  padding: 25px 15px;
  text-transform: uppercase;
  font-size: 13px;
}

.step-container {
  display: flex;
  padding: 10px;
}

.step-number {
  margin: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--LightBlue);
  color: var(--White);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-number-active {
  margin: 5px;
  width: 30px;
  height: 30px;
  color: black;
  border: 1px solid var(--LightBlue);
  background-color: var(--LightBlue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-text {
  padding-left: 10px;
}

.step-text p {
  padding: 2px;
  color: var(--PastelBlue);
}

.step-text h4 {
  padding: 2px;
  color: var(--White);
}

/* ===================================================
=========== PERSONAL INFO COMPONENT ===============
=================================================== */

/* ================================================
============ PLAN COMPONENT ====================
================================================ */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
