@font-face {
  font-family: "Ubuntu";
  src: url(./assets/fonts/Ubuntu-Bold.ttf);
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

:root {
  --MarineBlue: hsl(213, 96%, 18%);
  --PurplishBlue: hsl(243, 100%, 62%);
  --PastelBlue: hsl(228, 100%, 84%);
  --LightBlue: hsl(206, 94%, 87%);
  --StrawberryRed: hsl(354, 84%, 57%);

  --CoolGray: hsl(231, 11%, 63%);
  --LightGray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Ubuntu";
  height: 100vh;
  width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Magnolia);
}

.app-container {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #e9e9e9;
  padding: 15px;
  margin: 20px;
  background-color: var(--White);
}

/* ====================================================
=============== PROGRESS COMPONENT =================
==================================================== */

.progress-container {
  width: 275px;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: initial;
  border-radius: 10px;
  padding: 25px 15px;
  text-transform: uppercase;
  font-size: 13px;
}

.step-container {
  display: flex;
  padding: 10px;
}

.step-number {
  margin: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid var(--LightBlue);
  color: var(--White);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-number-active {
  margin: 5px;
  width: 30px;
  height: 30px;
  color: black;
  border: 1px solid var(--LightBlue);
  background-color: var(--LightBlue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-text {
  padding-left: 10px;
}

.step-text p {
  padding: 2px;
  color: var(--PastelBlue);
}

.step-text h4 {
  padding: 2px;
  color: var(--White);
}

/* ======================================================
============ FORM COMPONENT ==========================
====================================================== */

.form-container {
  display: flex;
  flex-direction: column;
  width: calc(900px - 275px);
  padding: 20px 70px;
}

.form-title {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-around;
}

.form-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-title h1 {
  color: var(--MarineBlue);
  font-weight: bolder;
}

.form-title p {
  color: var(--CoolGray);
}

.form-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.button-go-back {
  padding: 0;
  border: none;
  color: var(--CoolGray);
  background-color: transparent;
  font-weight: bolder;
}

.button-go-back:hover {
  color: var(--MarineBlue);
  cursor: pointer;
}

.button-go-back:active {
  opacity: 60%;
}

.button-go-back-off {
  visibility: hidden;
}

.button-next {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  color: var(--White);
  background-color: var(--MarineBlue);
  font-weight: bolder;
  right: 0;
}

.button-next:hover {
  opacity: 80%;
  cursor: pointer;
}

.button-next:active {
  opacity: 60%;
}

/* ===================================================
=========== PERSONAL INFO COMPONENT ===============
=================================================== */

.personal-info-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.text-input-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  justify-content: space-around;
}

.text-input-container .label-container {
  padding: 5px 0;
  font-size: 13px;
  font-weight: bolder;
  color: var(--MarineBlue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-input-container input {
  padding: 13px;
  font-weight: bolder;
  color: var(--MarineBlue);
  border: 1px solid var(--LightGray);
  border-radius: 7px;
}

.text-input-container input:focus {
  outline: none;
  padding: 13px;
  border: double 1px transparent;
  border-radius: 7px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, var(--PurplishBlue), var(--MarineBlue));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.error-message {
  color: var(--StrawberryRed);
  font-weight: bolder;
}

/* ================================================
============ PLAN COMPONENT ====================
================================================ */

.plan-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.radio-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.radio-input-container {
  border: 1px solid var(--CoolGray);
  border-radius: 10px;
  height: 160px;
  margin: 10px 0;
  width: 140px;
}

.radio-input-container:hover {
  background-color: var(--Magnolia);
  border: double 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(var(--Magnolia), var(--Alabaster)),
    linear-gradient(to right, var(--PurplishBlue), var(--MarineBlue));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.radio-input-container input {
  position: absolute;
  height: 160px;
  width: 140px;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
}

.radio-input-container:focus-within {
  background-color: var(--Magnolia);
  border: double 1px transparent;
  border-radius: 10px;
  background-image: linear-gradient(var(--Magnolia), var(--Alabaster)),
    linear-gradient(to right, var(--PurplishBlue), var(--MarineBlue));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.icon-text-container {
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text label {
  color: var(--MarineBlue);
  font-weight: bolder;
}

.text .price {
  color: var(--CoolGray);
}

.text .discount {
  color: var(--MarineBlue);
  font-size: 14px;
  letter-spacing: normal;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  padding: 0 150px;
  height: 50px;
  background-color: var(--Magnolia);
  border-radius: 10px;
}

.monthly-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: bolder;
  font-size: 14px;
}

.monthly-btn:hover {
  color: var(--MarineBlue) !important;
}

.yearly-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: bolder;
  font-size: 14px;
}

.yearly-btn:hover {
  color: var(--MarineBlue) !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--MarineBlue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--MarineBlue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--MarineBlue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
